@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 10px;
 
  background-color: #1a1a1a; /* Dark background color */
}

.container {
  background-image: url('file:///C:/Users/HP/eclipse-workspace/prathamesh/rabit.jpg'); /* Background image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Increased shadow */
}


 .glow {
        color: rgb(255, 255, 255);
        font-size: 9vw;
        line-height: 9vw;
        text-shadow: 0 0 3vw rgb(0, 0, 0);
        font-size: 5dvh;
      }
      .glow {
        animation: glow 1.2s ease infinite;
        -moz-animation: glow 1.2s ease infinite;
        -webkit-animation: glow 1.2s ease infinite;
      }
      @keyframes glow {
        0%,
        100% {
          text-shadow: 0 0 1vw rgb(0, 0, 0), 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
          color: #FED128;
        }
        50% {
          text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
          color: #806914;
        }
      }
h1 {
  text-align: center;
  color: rgb(0, 0, 0); 
  font-size: 4vh;
  font-weight: bolder;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: rgb(0, 0, 0); /* White text */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 8px;
  border-radius: 20%;
  border: 1px solid rgb(0, 0, 0);
  background-color: #444; 
  color: rgb(0, 0, 0); 
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 1px solid rgb(0, 0, 0); /* Blue border on focus */
  border-radius: 10%;
  box-shadow: 0 0 5px rgb(0, 0, 0); /* Blue glow on focus */
}

input[type="submit"] {
  background-color: rgb(0, 0, 0);
  box-shadow: rgb(255, 128, 0);
  border-radius: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Smooth transition */
}

input[type="submit"]:hover {
  background-color: rgb(255, 128, 0);
}
label[for="name"] {
 background-color:  #000; 
}
